<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988419062069-095t0d67os22a0s6cc623fucttbjbvqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988419062069-095t0d67os22a0s6cc623fucttbjbvqn</string>
	<key>API_KEY</key>
	<string>AIzaSyDprNnSZN6bta3IvwdCcxkrwHOgGFUwQvM</string>
	<key>GCM_SENDER_ID</key>
	<string>988419062069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fball.myfootball</string>
	<key>PROJECT_ID</key>
	<string>cmsport-dec55</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsport-dec55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988419062069:ios:c2e7790c068522972a347c</string>
</dict>
</plist>